.chat-window {
  width: 80vw;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #5bb1cd; /* Maintain consistent background color */
  color: black;
}

.message-input {
  display: flex;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #5bb1cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
